<!--model ProjectMVC.Models.Concrete.Product-->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Start";
}

<div>
    <table border=1>
        <tr>
            <td>Product Id</td>
            <td>Product Name</td>
            <td>Product Price</td>
        </tr>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Name</td>
                <td>@m.Price</td>
            </tr>
        }
    </table>
</div>
